.item {
  width: 300px;
  &__delete-button-wrapper {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
  }

  &__delete-button {
    border: none;
  }

  &__delete-button::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(315deg);
  }

  &__delete-button::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &__liked,
  &__not-liked {
    width: 25px;
    height: 25px;
    @include reset-button;
  }

  &__image {
    width: 200px;
  }
  &__buttons-wrapper {
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
  &__favorite-button {
    @include reset-button;
  }
  &__favorite-image {
    width: 25px;
    height: 25px;
  }
}
