* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

button,
a {
  cursor: pointer;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
  color: red;
  font-size: 25px;
  width: fit-content;
  height: 50px;
  &:active {
    color: blue;
  }
}
input {
  border-radius: 2px;
}
input:invalid {
  border: 1px solid red;
}
